<template>
<div>
    <h2 style="color: red">This is my second component !!</h2>
    <button @click="secondMsg">second component</button>
</div>
</template>

<script>
    export default {
        props : ['second'],
        data () {

            return {

                  bus : this.second.bus
              }

        },

        ready : function(){

        },


        methods : {
            secondMsg: function(){
                this.bus.$emit('secondFired')
            }
        }

    }
</script>
