<template>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <div id="app">
        <img class="logo" src="./assets/logo.png">
        <!--<hello v-bind:data="vueData.USstate" placeholder="US State"></hello>-->
        <v-select label="label" :value.sync="vueData.selected" :options="vueData.countries"></v-select>
        {{vueData.selected}}
        <second v-if="ok" v-bind:second="second_data"></second>
    </div>
</template>

<script>
    import Hello from './components/Hello'
    import second from './components/second'
    import vSelect from 'vue-select'
    var vue = require('vue');
    var msg = 'yolo data'
    var bus = new vue();
    var Vue = new vue();
    var countries = [
        {value: "AF", label: "Afghanistan"},
        {value: "AX", label: "Åland Islands"},
        {value: "AL", label: "Albania"},
        {value: "DZ", label: "Algeria"},
        {value: "AS", label: "American Samoa"},
        {value: "AD", label: "Andorra"},
        {value: "AO", label: "Angola"},
        {value: "AI", label: "Anguilla"},
        {value: "AQ", label: "Antarctica"},
        {value: "AG", label: "Antigua and Barbuda"},
        {value: "AR", label: "Argentina"},
        {value: "AM", label: "Armenia"},
        {value: "AW", label: "Aruba"},
        {value: "AU", label: "Australia"},
        {value: "AT", label: "Austria"},
        {value: "AZ", label: "Azerbaijan"},
        {value: "BS", label: "Bahamas"},
        {value: "BH", label: "Bahrain"},
        {value: "BD", label: "Bangladesh"},
        {value: "BB", label: "Barbados"},
        {value: "BY", label: "Belarus"},
        {value: "BE", label: "Belgium"},
        {value: "BZ", label: "Belize"},
        {value: "BJ", label: "Benin"},
    ];
    export default {
        components : {
          Hello,
            vSelect
        },
        data() {
            return {
                vueData: {
                    msg: msg,
                    bus: bus,
                    secondMsg: 'POOP',
                    okMsg: 'YESSS',
                    USstate: ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Dakota', 'North Carolina', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
                    selected : '',
                    countries : countries
                }
            }

        },

        ready : function () {

        },

        watch : {
            'vueData.selected' : function(param){
                console.log(JSON.parse(JSON.stringify(param.value)))
            }
        }
    }
</script>
<style>
    html {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #app {
        color: #2c3e50;
        margin-top: -100px;
        max-width: 600px;
        font-family: Source Sans Pro, Helvetica, sans-serif;
        text-align: center;
    }

    #app a {
        color: #42b983;
        text-decoration: none;
    }

    .logo {
        width: 100px;
        height: 100px
    }
</style>
